{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "indent": ["error", 2],
    "no-tabs": 1,
    "import/no-unresolved": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", "tsx"] }],
    "prettier/prettier": {
      "tabWidth": 2,
      "useTabs": false,
      "semi": true,
      "singleQuote": true
    }
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  }
}